<a href="https://colab.research.google.com/github/rps5738/IST-210/blob/master/AmazonDatabase1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Project Details

Our group project is creating a replica Amazon database. We thought this project would be interesting in August when we originally decided this is what we wanted to do because Amazon is arguably the biggest users of Big Data. Over the past several years Amazon has become the largest online distributor in the World. This is largely in part to the data they collect. When you select an item to send to your cart, if you scroll down a little bit it shows many item that are similar or ones that you just visited that page. Furthermore, for an ER diagram it is very interesting because there is so much that goes into it. This includes shipping, transations and the customers. Eventually we got to our final ER diagram by working through the assignments and creating what we believe to be an accurate respresentation of an Amazon ER diagram.

##ER Diagram

![ERDiagram](https://raw.githubusercontent.com/rps5738/IST-210/master/Images/ERdiagram.PNG)

##ER Diagram Information

This is our Amazon ER diagram. As you can see there are 5 tables. The tables are Product, Shipper, Supplier, Customer and Order. It's a fairly basic ER diagram where the customer creates an order of products that the supplier must take that order and provide information to the shipper in order to make it successfully arrive to the customer.

Our ER diagram is in first normal form and second normal form. It is in second normal form because it is in first normal form and it does not have partial dependancies. Although, shipper and suppier could occasionally have a partial dependancy with name and address. Many shippers and suppliers around the world could be owned under the same name but with different locations. As for customer, a person might have different sihpping and billing addresses based on who they are sending it to and which payment method they decide to use. Our ER diagram is also in thrid normal form because it is in second normal form and has not transitive dependancies. The product is in Boyce-Codd form because it is in third normal form and every nontrival determinant is a key.

##Database and Information

We created our database using our ER diagrams. We were lucky enough to not have to change out ER diagram to statisfy our database. Using the tables from the diagram we created a table in the database for each one and added the appropriate attributes to each table. For inserting the data into the database we simply added random data that is likely to be entered into that position.

In [ ]:
%load_ext sql
%sql sqlite:///AmazonDatabase.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @AmazonDatabase.db'

In [ ]:
%%sql
DROP TABLE IF EXISTS Customer;
create table Customer(CustomerEmail text PRIMARY KEY, Name text, shippingInfo text, billingInfo text);

 * sqlite:///AmazonDatabase.db
Done.
Done.

[]

In [ ]:
%%sql
DROP TABLE IF EXISTS OrderCounter;
create table OrderCounter(OrderNumber text PRIMARY KEY, Product text, arriveDate text, shippingDate text, customerInfo text, supplierInfo text);

 * sqlite:///AmazonDatabase.db
Done.
Done.

[]

In [ ]:
%%sql
DROP TABLE IF EXISTS Product;
create table Product(ProductID text PRIMARY KEY, Name text, Type text, Price text);

 * sqlite:///AmazonDatabase.db
Done.
Done.

[]

In [ ]:
%%sql 
DROP TABLE IF EXISTS Shipper;
create table Shipper(shipperID text PRIMARY KEY, name text, Address text, contactInfo text);

 * sqlite:///AmazonDatabase.db
Done.
Done.

[]

In [ ]:
%%sql
DROP TABLE IF EXISTS Supplier;
create table Supplier(supplierID text PRIMARY KEY, Name text, Address text, businessInfo text);

 * sqlite:///AmazonDatabase.db
Done.
Done.

[]

In [ ]:
%%sql
insert into Customer values ('corybanks@gmail.com', 'Cory Banks', '1440 Centennial Drive', '1440 Centennial Drive');
insert into Customer values ('sashanix@gmail.com', 'Sasha Nix', '188 Clover Drive' , '1200 Demont Lane');
insert into Customer values ('jayhacks@gmail.com', 'Jay Hacks' , '343 Guilty Road', '343 Guilty Road');
insert into Customer values ('alexabliss@gmail.com', 'Alexa Bliss', '817 Hollow Drive', '6346 Storm Road');
insert into Customer values ('kellyharpster@gmail.com', 'Kelly Harpster', '910 Antenna Drive', '215 Spark Way');

 * sqlite:///AmazonDatabase.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [ ]:
%%sql
insert into OrderCounter values ('2980371921', 'Shower-Curtain', '02/04/45', '02/01/45', 'Cory Banks 1440 Centennial Drive', 'ShowerHeadsCo 125 Sunset Way');
insert into OrderCounter values ('3290081029', 'Beach-Ball', '01/31/45', '01/24/45', 'Sasha Nix 188 Clover Drive', 'PlasticMasterpieceCo 8379 Fun Drive');
insert into OrderCounter values ('0931848100', 'Phone-Charger', '03/15/45', '03/12/45', 'Jay Hacks 343 Guilty Road', 'iPear 644 Bow Drive');
insert into OrderCounter values ('6778873219', 'Pillows', '09/28/45', '09/25/45', 'Alexa Bliss 817 Hollow Drive', 'MyPillow 920 Center Drive');
insert into OrderCOunter values ('8291307410', 'Xbox', '12/21/45', '12/19/45', 'Kelly Harpster 910 Antenna Drive', 'Microsnot 2819 Loud Road');

 * sqlite:///AmazonDatabase.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [ ]:
%%sql
insert into Product values ('98017263540', 'Shower-Curtain', 'Utility', '$18.99');
insert into Product values ('83021434189', 'Beach-Ball', 'Entertainment', '$12.99');
insert into Product values ('94014109012', 'Phone-Charger', 'Electronics', '$20.99');
insert into Product values ('21938304142', 'Pillows', 'Sleepware', '$20.99');
insert into Product values ('93401029709', 'Xbox', 'Electronics', '$499.99');

 * sqlite:///AmazonDatabase.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [ ]:
%%sql
insert into Shipper values ('9783129', 'Amazon', '2122 Circle Drive', 'contactamazon@their.place');
insert into Shipper values ('9490808', 'ShareSpace', '414 Center Road', 'contactsharespace@their.place');
insert into Shipper values ('5892398', 'Quick', '512 Space Road', 'outerquick@gmail.com');
insert into Shipper values ('3927931', 'SendItInc', '231 Den Road', 'sendmail@gmail.com');
insert into Shipper values ('9488012', 'MyPillow', '4708 Ran Road', 'MyPillow@info.com');

 * sqlite:///AmazonDatabase.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [ ]:
%%sql
insert into Supplier values ('39012202', 'ShowerHeadsCo', '125 Sunset Way', 'wayhead@gmail.info');
insert into Supplier values ('90481203', 'PlasticMasterpieceCo', '8379 Fun Drive', 'plasticmasterpiece@gmail.info');
insert into Supplier values ('30901990', 'iPear', '644 Bow Drive', 'iorangeProducts@sayway.com');
insert into Supplier values ('89391903', 'MyPillow', '920 Center Drive', 'mypillowinfo@carrier.com');
insert into Supplier values ('49309127', 'Microsnot', '2819 Loud Road', 'signtomicrosnot@carrier.com');

 * sqlite:///AmazonDatabase.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

##Scenario

An accurate scenario for our project would be a person named Jill who wants to buy a toaster and have it shipped to her house at 188 Clover Drive using her credit card. The toaster is product number 83659837621 that is an electronic for $32.99. The order number is 896257382, the arrival date is 01/31/45 and the shipping date is 01/24/45, and it is shipping from the supplier PlasticMasterpieceCo at 8379 Fun Drive. That supplier now gives it to the shipper Amazon at 2122 Circle Drive and their information is contactamazon@their.place. Eventually the toaster makes it to Jill and she can eat all the toast she wants happily.

In [ ]:
%%sql
insert into Customer values ('jillToast@gmail.com', 'Jill Toast', '188 Clover Drive' , '188 Clover Drive');

In [ ]:
%%sql
insert into OrderCounter values ('896257382', 'Toaster', '01/31/45', '01/24/45', 'Jill Toast 188 Clover Drive', 'PlasticMasterpieceCo at 8379 Fun Drive);

In [ ]:
%%sql
insert into Product values ('896257382', 'Toaster', 'Electronic', '$32.99');

In [ ]:
%%sql
insert into Shipper values ('8362960', 'Amazon', '2122 Circle Drive', 'contactamazon@their.place');

In [ ]:
%%sql
insert into Supplier values ('49659053', 'PlasticMasterpieceCo', '8379 Fun Drive', 'plasticmasterpiece@gmail.info');

##Queries

What customers have an "a" in their name?

In [ ]:
%%sql
Select * FROM Customer WHERE Name LIKE "%A%"

 * sqlite:///AmazonDatabase.db
Done.

[('corybanks@gmail.com', 'Cory Banks', '1440 Centennial Drive', '1440 Centennial Drive'),
 ('sashanix@gmail.com', 'Sasha Nix', '188 Clover Drive', '1200 Demont Lane'),
 ('jayhacks@gmail.com', 'Jay Hacks', '343 Guilty Road', '343 Guilty Road'),
 ('alexabliss@gmail.com', 'Alexa Bliss', '817 Hollow Drive', '6346 Storm Road'),
 ('kellyharpster@gmail.com', 'Kelly Harpster', '910 Antenna Drive', '215 Spark Way')]

When it comes to why this question was important, it is important in determining who's name has an "a" in it. With this, we can determine who's name has an "a" and who's doesn't. This will separate the people with "a" in their name between the people without "a" in their name. These results are what I expected when looking at the data.

How many orders were made in the second half of the year 2045?

In [ ]:
%%sql
select * from OrderCounter WHERE arriveDate BETWEEN "07/01/45" AND "12/31/45"

 * sqlite:///AmazonDatabase.db
Done.

[('6778873219', 'Pillows', '09/28/45', '09,25,45', 'Alexa Bliss 817 Hollow Drive', 'MyPillow 920 Center Drive'),
 ('8291307410', 'Xbox', '12/21/45', '12/19/45', 'Kelly Harpster 910 Antenna Drive', 'Microsnot 2819 Loud Road')]

This question was significantly important because it tells us who bought items on the second half of the year 2045. Knowing this, we can declare the other three pieces of data has items that were bought in the first half of 2045. These were the results I was expecting. I knew what year the items were bought because I made everything in the table.

How many order numbers are their in the Order table?

In [ ]:
%%sql
select COUNT(OrderNumber) from OrderCounter

 * sqlite:///AmazonDatabase.db
Done.

[(5,)]

This question is awefully important because we need to know how many different orders there are so there is enough stock of the item as well as making sure Amazon is able to process the orders and get them out in a timely manner. This question was expected from me, as I made the tables and I know how many there are.